<% layout('../views/admin/layoutAdmin') %>

<div class="content" ng-controller="ProductCtrl">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover datatable">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="center">صورة المنتج</th>
                    <th>اسم المنتج</th>
                    <th>سعر الشراء</th>
                    <th>سعر البيع</th>
                    <th>الكمية</th>
                    <th>المقاس</th>
                    <th>القسم</th>
                    <th>العمليات</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < products.length ; i++) { %>
                <tr>
                    <td> <%= (i) + 1 %> </td>
                    <td class="center"> <img class="img-thumbnail img-responsive img-circle img-rounded" width="50" height="50" src="../../public/uploads/<%= products[i].image[0].name %>"> </td>
                    <td> <%= products[i].name %> </td>
                    <td class="center"> <%= products[i].price %> </td>
                    <td class="center"> <%= products[i].buyingPrice %> </td>
                    <td class="center"> <%= products[i].quantity %> </td>
                    <td class="center"> <%= products[i].size %> </td>
                    <td class="center"> <%= products[i].category.name %> </td>
                    <td class="center">
                        <a href="/admin/update-product/<%= products[i]._id %>" title="تعديل منتج"><i
                                    class="fa fa-edit"></i></a>
                        <a href="javascript:void(0)"
                           ng-click="showRemoveModal('<%= products[i]._id %>')"
                           title="حذف منتج">
                            <i class="fa fa-trash"></i></a>
                        <a href="/product/<%= products[i]._id %>" target="_blank" title=" مشاهدة المنتج "><i
                                    class="fa fa-eye"></i></a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">حذف منتج</h4>
                </div>
                <div class="modal-body">
                    هل تريد حذف المنتج ؟
                </div>
                <div class="modal-footer">
                    <form method="post" action="/admin/ALlProducts">
                        <input type="hidden" id="proDelId" name="proDelId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">حذف</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



