<% layout('layoutAdmin') %>
<div class="container" ng-controller="ExpensesCtrl">

    <div class="row">

        <div class="col-lg-12">

            <div class="alert alert-info" role="alert" id="totalCost">

            </div>

            <div id="messages">
                <% Object.keys(messages).forEach(function (type) { %>
                <ul class="<%= type %>">
                    <% messages[type].forEach(function (message) { %>
                    <li><%= message %></li>
                    <% }) %>
                </ul>
                <% }) %>
            </div>

            <button type="button" class="btn btn-success addBtn" ng-click="showAddModal()">
                اضافة
                <i class="fa fa-plus-circle"></i>
            </button>
            <table class="table table-bordered table-hover datatable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>الاسم</th>
                    <th>النوع</th>
                    <th>التاريخ</th>
                    <th>التكلفة</th>
                    <th>العمليات</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < Expenses.length ; i++) { %>
                <tr>
                    <td> <%= (i) + 1 %> </td>
                    <td> <%= Expenses[i].name %> </td>
                    <td> <%= Expenses[i].ExpensesTypes.name %> </td>
                    <td> <%= moment(Expenses[i].Date).format("DD-MMM-YYYY") %> </td>
                    <td> <%= Expenses[i].cost %> </td>
                    <td>
                        <a href="javascript:void(0)" title="تعديل مصروف"><i class="fa fa-edit"></i></a>
                        <a href="javascript:void(0)"
                           ng-click="showRemoveModal('<%= Expenses[i]._id %>')"
                           title="حذف مصروف">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>

        </div>
    </div>

    <div class="modal fade" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">حذف مصروف</h4>
                </div>
                <div class="modal-body">
                    هل تريد حذف هذا المصروف ؟
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                    <button type="button" class="btn btn-danger">حذف</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModal">
        <div class="modal-dialog" role="document">
            <form method="post" action="/admin/Expenses">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">اضافة مصروف</h4>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="name">الاسم: </label>
                                <input type="text" class="form-control" name="name" placeholder="الاسم">
                            </div>

                            <div class="form-group">
                                <label for="name">التاريخ: </label>
                                <input type="text" class="form-control datepicker" name="date"/>
                            </div>

                            <div class="form-group">
                                <label for="name">النوع: </label>
                                <select class="form-control" name="type">
                                    <% for (var i = 0; i < types.length; i++){ %>
                                    <option value="<%= types[i]._id %>"><%= types[i].name %></option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="name">التكلفة: </label>
                                <input type="number" class="form-control" name="cost" placeholder="التكلفة">
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-danger">اضافة</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


